body
{
    color: #656565;
    font-size: 14px;
}
 h2, h3, h4, h5, h6
{
    color: black;
}

.logo
{
    width: 150px;
}
a.nav-link 
{
    color: #055999;
    padding: 10px;
    margin: 15px;
}

.navbar-nav .nav-link:hover , li .nav-item .active .nav-link
{
    background:#055999 ;
    color: #fff;
}
.carousel-caption
{
    text-align: inherit;
}s
.carousel-item h2
{
    font-size: 45px;
}
h1
{
    font-weight: 700;
}  
.icon 
{
    font-size:  64px;
}
.sbox
{
    background-color: #efefef;
    border: 1px solid #efefef;
    padding: 20px;
   
    
}
.sbox:hover
{
    background: #fff;
    border: 1px solid  #055999;

}
.btn-primary
{
    background-color: #055999;
    border-radius: 0;
    border: none;


}
.team
{
    background:#055999 ;

}
.client img
{
    filter: grayscale(100%);
}
.client img:hover
{
    filter: grayscale(0%);
}
.footertop
{
    background: #1B1B1B;
    color: #949494;
    padding-top: 50px;

}
.footerbottom
{
    background: #191919;
    color: #fff;
    padding: 20px 0;

}
.footertop h5
{
    color: #fff;
    padding: 10px 0;
    font-size: 16px;
}
.flex
{
    display: flex;
    justify-content: space-between;
}
.social li
{
    display: inline;
    list-style: none;
    padding: 10px;

}
html
{
    scroll-behavior: smooth;
}
.arrow
{
    background:#055999 ;
    width: 35px;
    height: 35px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;

} 
.arrow a
{
    color: #fff;
    text-decoration: none;
}


.themebreadcrumb
{
    background: url(../img/1.jpg) no-repeat #2056AE;
    background-size: 20%;
    background-position: right top ;
    padding: 25px 0;
    
}
.themebreadcrumb h2
{
    color: #fff;
}
.sicon 
{
    border: 1px solid #82ACCC;
    width: 147px;
    height: 84px;
    font-size: 29px;
    padding: 24px;
    color: blue;
    margin: 20px;

}

.workbox
{
    position: relative;

}

.workbox:before
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);  
    position: absolute ;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
}
.workbox:hover:before
{
    opacity: 1;
}
.leftwork
{
   width: 45px;
   height: 45px;
   background: #2056AE; 
   position: absolute;
   top: 45%;
   transform: translate(-120px, 0);
   transition: 0.8s;    
}
.workbox
{
    position: relative;
    overflow: hidden;
}
.workbox:hover .leftwork
{
    transform: translate(120px, 0);
}  
.rightwork
{
    width: 45px;
   height: 45px;
   background: #2056AE; 
   position: absolute;
   top: 45%;
   transform: translate(350px, 0);
   transition: 0.8s; 
}
.workbox:hover .rightwork
{
    transform: translate(180px, 0);
}  



.workbox::after
{

}